name: Kubeconform Check

on:
  pull_request:
    branches:
      - main
jobs:
  kubeconform:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: azure/setup-helm@v4.2.0
        with:
          version: v3.19.2
      - run: helm plugin install --verify=false https://github.com/jtyr/kubeconform-helm
      - run: helm kubeconform --verbose --summary charts/platform